.rightbarContainer{
    flex:2;
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
}
@media screen and (max-width: 600px) {
    body {
      background-color: black;
    }
    .rightbarContainer{
        display: flex;
        flex:2;
        width: 100%;
        background-color: paleturquoise;
        flex-direction: row;
    }
}