.rightbarContainer{
    flex:2;
    display: flex;
    justify-content: center;
    height: calc(100vh - 50px);
    min-width: 200px;
}
@media screen and (max-width: 600px) {
    body {
      background-color: black;
    }
    .rightbarContainer{
        display: flex;
        width: 100%;
        height: 50px;
        background-color: deepskyblue;
        position: fixed;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        bottom: 0;
    }
}