
.rightbarContainer{
    display: flex;
    flex:2;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    min-width: 200px;
    color: white;
    z-index: 19;
    text-shadow: 0px 1px 3px black;    
    backdrop-filter: blur(3px) brightness(1.5);
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(5,5,25,.9));
}
.rightbarFriendList{
    display: flex;
    flex-wrap: wrap;
}
.birthdayImg{
    width:26px;
    height: 26px;
}


::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: #3086c4;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    left: 0;
}

.rightbarWrapper{
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 5px
}


ul{
    padding: 0px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}
li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    filter: drop-shadow(0px 5px 4px black);
}
.rightbarListItemText{
    position: relative;
    margin-left: 25px;
    margin-top: -10px;
    cursor: pointer;
}
.rightbarListItem{
    margin-bottom: 10px;
}
.rightbarButton{
    width: 100%;
    border:none;
    padding:10px;
    border-radius: 0px;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(0px 5px 4px black);
}
.rightbarHr{
    margin:10px 0;
    border: 1px solid black;
    filter: drop-shadow(0px 5px 4px black);
}
.rightbarFriendList{
    padding:0;
    margin:0;
    list-style: none;
}
.rightbarFriend{
    display: flex;
    margin-bottom: 15px;
}
.rightbarFriendImg{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}
.rightbarFriendName{
    position: relative;
    margin-left: 35px;
    margin-top: -15px;
    cursor: pointer;
}
.rightbarIcon{
    width: 32px;
    height: 32px;
}
.rightbarFriendWrapper{

}
.MuiSvgIcon-root{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    body {
      background-color: black;
    }
.rightbarContainer{
        display: flex;
        justify-content: center;
        flex: 0;    
        padding: 0px;
        flex-direction: row;
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(10px);
        width: -webkit-fill-available;
        height: auto;
        padding-top: 50px;
    }
    .rightbarWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
    }
    ul{
        padding: 0px;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    li{
        list-style-type: none;
        padding-top: 10px;
        filter: drop-shadow(0px 5px 4px black);
    }
    .rightbarListItem{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        padding-top: 0px;
        font-size: 8px;
    }
    .rightbarFriend{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .rightbarListItemText{
        
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .rightbarFriendName{
            margin-left: 0px;
            margin-top: 0px;
            font-size: 8px;
    }
    .rightbarIcon{
        width: auto;
    }
    .MuiSvgIcon-root{
        width: auto;
    }
    .rightbarButton{
        width: 100%;
        filter: drop-shadow(0px 5px 4px black);
    }
    .rightbarHr{
        margin: 2px;
    }
    .rightbarFriendWrapper{
     width: -webkit-fill-available;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }
}