.headerContainer{
    height:50px;
    width: 100%;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    filter: drop-shadow(0px 5px 4px black);
    backdrop-filter: blur(10px);
    z-index: 20;
    justify-content: space-between;
}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.headerLeft{
    color: black;
}
.logoSpan{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.logo{
    height:40px;
    margin-left: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    filter: drop-shadow(0px 5px 4px black);
}
.searchBar{
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    filter: drop-shadow(0px 5px 4px black);
}
.searchBar:active{
}
.searchIcon{
    font-style: 20px !important;
    margin-left: 10px;
    filter: drop-shadow(0px 5px 4px black);
}
.searchInput{
    border: none;
    font-size: 1.2vw;
    width: 70%;
    background-color: transparent;
    filter: drop-shadow(0px 5px 4px black);
}
.searchInput:focus{
    outline: none;
    font-weight: bold;
    font-size: large;
}
.headerCenter{
    width: -webkit-fill-available;
    padding-right: 1vw;
    padding-left: 4%;
}
.headerRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 5px;
    color:deeppink;
    text-shadow: 0px 5px 4px black;
}
.headerLink{
    color:deeppink;
    margin-right: 10px;
    font-style: 14px;
    cursor: pointer;
}
.headerIcons{
    display: flex;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(0px 5px 4px black);
}
.headerIconItem{
    display: flex;
    color: white;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    flex-direction: row-reverse;
    
}
.headerIconBadge{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: 12px;
}

.headerImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border:1px solid black;
    filter: drop-shadow(0px 5px 4px black);
}
@media screen and (max-width: 600px) {
    body {
      background-color: black;
    }
    .headerContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        z-index: 20;
    }
    .headerWrapper{
        display: flex;
        flex-direction: row-reverse;
        width: -webkit-fill-available;
        justify-content: space-evenly;
        padding: 10px;
    }
    .headerCenter{
        display: flex;
        flex: 3;
        align-items: center;
        width: 100%;
        height: 30px;
        justify-content: center;    }
    .searchBar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 30px;
        background-color: white;
        border-radius: 30px;
        border: 1px solid black;
    }
    .headerIcons{
        display: flex;
        flex: 0;
        justify-content: center;
        align-items: center;
    }
    .headerRight{
        display: flex;
        flex: 0;
        justify-content: space-between;
        align-items: center;
    }
    .logoSpan{
        margin-left: 0px;
    }
    .logo{
        margin-left: 0px;
    }
    .searchInput{
    font-size: 2vw;
    }
  }