
.rightbarContainer{
    display: flex;
    flex-direction: column;
    flex:2;
    overflow-y: scroll;
    min-width: 200px;
    color: white;
    z-index: 19;
    text-shadow: 0px 1px 3px black;    
    backdrop-filter: blur(3px) brightness(1.5);
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(5,5,25,.9));
}
.rightbarFriendList{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.rightbar{
    flex: 2;
    overflow-y: scroll;
}
.rightbarAd{
    border-radius: 30px;
}
.birthdayImg{
    width:26px;
    height: 26px;
}
.rightbarFriendsOnlineCount{
    display: flex;
    justify-content: center;
    align-items: center;
    color: deeppink;
    text-shadow: 0 1px 5px deeppink;
    filter: drop-shadow(2px 4px 6px deeppink);
    font-size: larger;
}

::-webkit-scrollbar{
    width:5px;
}
::-webkit-scrollbar-track{
    background-color: #3086c4;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    left: 0;
}

.rightbarWrapper{
    display: flex;
    width: -webkit-fill-available;
    padding: 5px;
    height: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
}


ul{
    padding: 0px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}
li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    filter: drop-shadow(0px 5px 4px black);
}
.rightbarListItemText{
    position: relative;
    margin-left: 25px;
    margin-top: -10px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px white);
}
.rightbarListItem{
    margin-bottom: 10px;
}
.rightbarTitle{
    font-style: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.rightbarInfo{
    margin-bottom: 30px;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color:#555;
}
.rightbarInfoValue{
    font-weight: 300;
}
.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.rightbarFollowing{
    display: flex;
    flex-direction: column;
}
.rightbarButton{
    width: 100%;
    border:none;
    padding:10px;
    border-radius: 0px;
    font-weight: bold;
    cursor: pointer;
    filter: drop-shadow(0px 5px 4px black);
}
.rightbarHr{
    margin:10px 0;
    border: 1px solid black;
    filter: drop-shadow(0px 5px 4px black);
}

.rightbarFriend{
    display: flex;
    margin-bottom: 15px;
}
.rightbarFriendImg{
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    cursor: pointer;
}
.rightbarFriendName{
    position: relative;
    margin-left: 35px;
    margin-top: -15px;
    cursor: pointer;
    filter: drop-shadow(1px 1px 1px white);
}
.rightbarIcon{
    width: 32px;
    height: 32px;
}
.rightbarFriendWrapper{

}
.rightbarBirthdayOnline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.rightbarFriendsOnlineCount{
    height: 10px;
    padding: 0;
    margin: 0;
}

.MuiSvgIcon-root{
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .rightbarInfo{
    margin-bottom: 30px;
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
  }
  
  .rightbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .rightbarInfoValue{
    font-weight: 300;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

@media screen and (max-width: 600px) {
    body {
      background-color: black;
    }
    .rightbar{
        flex: 0;
        overflow-y: scroll;
    }

.rightbarContainer{
        bottom:0;
        display: flex;
        justify-content: center;
        flex: 0;    
        padding: 0px;
        flex-direction: column;
        position: fixed;
        background-color: transparent;
        backdrop-filter: blur(10px);
        width: -webkit-fill-available;
        height: auto;
        margin-left: -372px;

    }
    .rightbarWrapper{
        display: flex;
        flex-direction: column;
        width: 98%;
    }
    .rightbarList{
        display: flex;
        flex-direction: column;
    }
    ul{
        padding: 0px;
        display: flex;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
    }
    li{
        list-style-type: none;
        padding-top: 10px;
        filter: drop-shadow(0px 5px 4px black);
    }
    .rightbarListItem{
        display: flex;
        justify-content: center;
        margin-top: 0px;
        padding-top: 0px;
        font-size: 8px;
    }
    .rightbarFriend{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        padding-top: 0px;
    }
    .rightbarListItemText{
        
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-top: 0px;
    }
    .rightbarFriendName{
            margin-left: 0px;
            margin-top: 0px;
            font-size: 8px;
    }
    .rightbarIcon{
        width: auto;
    }
    .MuiSvgIcon-root{
        width: auto;
    }
    .rightbarButton{
        width: 100%;
        filter: drop-shadow(0px 5px 4px black);
    }
    .rightbarHr{
        margin: 2px;
    }
    .rightbarFriendWrapper{
     width: -webkit-fill-available;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    }
    .rightbarTitle{
        margin-bottom: -10px;
    }
    
    .rightbarFriendList {
      padding: 0;
      margin: 0;
      list-style: none;
    }
    .rightbarAd{
        display: none;
    }
    .birthdayContainer{
        display: none;
    }
    
}